
<!DOCTYPE html>
<html>
  <head>
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="home.component.css"/>
  </head>
  <body>
    <div class="header">
      <div><h1><br>Лабораторна робота 5<br>Горобчук Марії, КН-31<br></h1></div>

    </div>

    <div class="menu">
      <div class="sidebar">
        <button class="container__menu-button" (click)="redirectToOrder()">
            <p>Оформити замовлення</p>
          </button>
      </div>

      <div class="sidebar">
        <button class="container__menu-button" (click)="redirectToStorage()">
            <p>Керувати складом</p>
          </button>
    </div>


    </div>


  </body>
</html>